<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="card.io"
        version="1.0.0">

    <name>CardIOPGPlugin</name>

    <description>
        Card.IO Phonegap Plugin
    </description>

    <asset src="www/CardIOPGPlugin.js" target="CardIOPGPlugin.js" />

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/">
            <feature name="CardIOPGPlugin">
                <param name="ios-package" value="CardIOPGPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!-- Phonegap -->
        <header-file src="src/ios/CardIOPGPlugin.h" />
        <source-file src="src/ios/CardIOPGPlugin.m" />

        <!-- sdk -->
        <header-file src="src/ios/CardIO.h" />
        <header-file src="src/ios/CardIOCreditCardInfo.h" />
        <header-file src="src/ios/CardIOPaymentViewController.h" />
        <header-file src="src/ios/CardIOPaymentViewControllerDelegate.h" />
        <header-file src="src/ios/CardIOView.h" />
        <header-file src="src/ios/CardIOViewDelegate.h" />

        <source-file src="src/ios/libCardIO.a" framework="true"/>

    </platform>
</plugin>